@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Raleway:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style-type: none !important;
  text-decoration: none !important;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/*  */
.container_2 {
  max-width: 1122px;
  padding-left: 12px;
  padding-right: 12px;
}
/* ================ */
.btn {
  border: none !important;
  position: absolute;
  right: 20px;
  top: 30px;
}

.cross {
  display: none;
}
.blk_btn {
  display: none;
}
@media (max-width: 712px) {
  .fix-navbar {
    min-height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    transition: 0.8s ease;
    position: absolute;
    left: -100%;
    z-index: 9999;
  }

  .nav-fix {
    position: absolute;
    left: 0;
    top: 0;
    min-height: 100vh;
    width: 100%;
    transition: all 0.8s ease-in-out;
    z-index: 99;
  }
  .cross {
    display: block;
  }
  .nav_link {
    display: none;
  }
  .nav_menu {
    display: none;
  }
  .login_btn {
    display: none;
  }
  .blk_btn {
    display: block;
  }
  .nav_bar {
    transition: all 0.6s ease-in-out;
    display: block !important;
  }
  .form_box {
    width: 100% !important;
  }
}
.nav_bar {
  display: none;
}
.trans {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.line {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}
.nav_link {
  color: black;
}
.nav_link:hover {
  color: red;
}
.nav_link {
  position: relative;
  transition: all ease-in-out 350ms;
}
.nav_link::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 4px;
  background: white;
  bottom: -10px;
  z-index: 1;
  left: 50%;
  transition: all 200ms linear;
  transform: translatex(-50%);
  border-radius: 16px;
}
.nav_link:before {
  content: "";
  position: absolute;
  left: -12px;
  top: -30px;
  background: var(--color-Safety-Orange);
  border-radius: 20px;
  z-index: -1;
  transition: all 200ms linear;
}
.nav_link:hover::before {
  width: 110%;
  padding: 50px 55px;
}

.nav_link:hover::after {
  width: 60%;
}
.nav_link:hover {
  color: white;
}
/* ================ */

.star {
  animation: rotate 5s infinite linear;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.explore_btn {
  padding: 7px 55px;
  background: var(--color-Safety-Orange);
  border-radius: 25px 0px;
  transition: all linear 300ms;
}
/* .explore_btn:hover {
  border-radius: 0px 25px;
} */

.lh_17 {
  line-height: 17.61px;
}
.mt_100 {
  margin-top: -100px;
}
::-webkit-scrollbar {
  background-color: var(--color-Ghost-White);
  /* background-color: black; */
  width: 20px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-Safety-Orange);
}
.bg_orangee {
  background: var(--color-Safety-Orange);
}
.explore_btn {
  animation: change 4s infinite linear;
}
@keyframes change {
  0% {
    border-radius: 25px 0px;
  }
  50% {
    border-radius: 0px 25px;
  }
}
.scale:hover {
  transform: scale(1.1);
}
.scale {
  transition: all linear 300ms;
}

.slide_box {
  max-width: 600px;
}
.lh_21 {
  line-height: 21px;
}
.nav_menu {
  position: relative;
}
.bg_orange {
  background-color: rgba(251, 102, 2, 0.15);
}
.btn-orange {
  padding: 6px 64px;
  background-color: var(--color-Safety-Orange);
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  font-size: 24px;
  font-family: "Raleway";
  display: inline-block;
  border-radius: 25px 0px;
  transition: all linear 300ms;
}
.btn-orange:hover {
  border-radius: 0px 25px;
}
.btn-orange:hover {
  color: white;
}
input {
  width: 100%;
  padding: 12px 14px;
  border: 1px solid rgba(251, 102, 2, 1);
  border-radius: 20px;
}
.btn_box {
  padding: 16px 14px 16px 25px;
  background-color: rgba(251, 102, 2, 1);
  border-radius: 20px;
  border: none;
  color: white;
  margin-top: 24px;
}
.box_white {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 72px 50px 34px;
  border-radius: 35px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  height: 100%;
}
.box_white:hover {
  background: #ffffff;
  box-shadow: 6px 6px 10px 10px #8b8b8b8c;
  border-radius: 35px;
}
.col_svg path {
  transition: all 0.4s ease-in-out;
}
.box_white:hover .col_svg path {
  fill: rgb(0, 81, 255);
}
.orange_border_box {
  padding: 10px;
  width: 100%;
  transform: translateY(0%);
  margin: 0 auto;
  background: #ffffff;
  border: 1px solid #fb6602;
  border-radius: 25px;
  transition: all 1s ease-in-out;
}
.bg_orange1 {
  background-color: rgba(251, 102, 2, 1);
}
.bg_orange1 ul li a:hover {
  color: whitesmoke;
}
.w_small_75 {
  width: 75%;
}
.radius {
  border-radius: 37px 0px !important;
  margin: 0 auto;
  width: 75%;
}
.slick-prev:before,
.slick-next:before {
  display: none !important;
}
.slick-prev,
.slick-next {
  display: none !important;
}

@media (min-width: 768px) {
  .radius {
    border-radius: 86px 0px !important;
  }
}
@media (min-width: 992px) {
  .lh_35 {
    line-height: 35.22px;
  }
  .radius {
    border-radius: 42px 0px !important;
    width: 100%;
  }
  .w_lg_100 {
    width: 100%;
  }
  .orange_border_box {
    padding: 40px 50px;
  }
  input {
    width: 80%;
    padding: 16px 50px;
    border-radius: 20px 0px 0px 20px;
  }
  .btn_box {
    border-radius: 0px 20px 20px 0px;
  }
}
@media (min-width: 1200px) {
  .orange_border_box {
    width: 70%;
    transform: translateY(24%);
  }
}
.add_btn {
  background: none;
  border: none;
}
@media (max-width: 368px) {
  .shop_cart {
    display: none;
  }
}
.menue {
  position: relative;
}
.menue::after {
  position: absolute;
  content: "";
  width: 80%;
  height: 5px;
  border-radius: 13px;
  top: -25px;
  right: 10%;
  background-color: #fb6602;
  transition: all linear 350ms;
}
.nav_menu:hover {
  color: black;
}
.top-10 {
  top: 10px;
}
.end-10 {
  right: 10px;
}
