@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Raleway:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style-type: none !important;
  text-decoration: none !important;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  /*********** FONT-FAMILY **********/
  --ff-Raleway: "Raleway", sans-serif;
  --ff-Hallelujah: "Gloria Hallelujah", cursive;
  /********** FONT-WEIGHT **********/
  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-bold: 700;
  /**************** FONT-SIZE ****************/

  --fs-xsm: 15px;
  --fs-sm: 18px;
  --fs-md: 24px;
  --fs-base: 30px;
  --fs-lg: 36px;
  --fs-xl: 48px;

  /**************** colors ****************/
  --color-55: #555555;
  --color-Safety-Orange: #fb6602;
  --color-black: #000000;
  --color-light-grey: rgba(0, 0, 0, 0.57);
  --color-too-light: rgba(0, 0, 0, 0.42);
  --color-pink: #fee8d9;
}

/*********** FONT-FAMILY **************/
.ff-Raleway {
  font-family: var(--ff-Raleway);
}
.ff-Hallelujah {
  font-family: var(--ff-Hallelujah);
}

/************8 FONT-WEIGHT ***********/

.fw_regular {
  font-weight: var(--fw-regular);
}
.fw_semibold {
  font-weight: var(--fw-semibold);
}

.fw_bold {
  font-weight: var(--fw-bold);
}

/**************8 FONT-SIZE **************/

.fs_xsm {
  font-size: var(--fs-xsm);
}

.fs_sm {
  font-size: var(--fs-sm);
}

.fs_md {
  font-size: var(--fs-md);
}

.fs_base {
  font-size: var(--fs-base);
}

.fs_lg {
  font-size: var(--fs-lg);
}

.fs_xl {
  font-size: var(--fs-xl);
}

/****************** COLORS ******************/
.color_55 {
  color: var(--color-55);
}
.color_orange {
  color: var(--color-Safety-Orange);
}
.color_black {
  color: var(--color-black);
}
.color_light_grey {
  color: var(--color-light-grey);
}
.color_too_light {
  color: var(--color-too-light);
}
.color_pink {
  color: var(--color-pink);
}

/*  */
.container_2 {
  max-width: 1122px;
  padding-left: 42px;
  padding-right: 12px;
}
/* ================ */
.btn {
  border: none !important;
  position: absolute;
  right: 20px;
  top: 30px;
}

.cross {
  display: none;
}
.blk_btn {
  display: none;
}
@media (max-width: 712px) {
  .fix-navbar {
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s ease;
    position: absolute;
    left: -100%;
  }

  .nav-fix {
    position: absolute;
    left: 0;
    top: 0;
    min-height: 100vh;
    width: 100%;
    transition: 0.6s ease;
    z-index: 99;
  }
  .cross {
    display: block;
  }
  .nav_link {
    display: none;
  }
  .login_btn {
    display: none;
  }
  .blk_btn {
    display: block;
  }
  .nav_bar {
    display: block !important;
  }
  .form_box {
    width: 100% !important;
  }
}
.nav_bar {
  display: none;
}
.trans {
  transform: translateY(100%);
}
.line {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}
/* .nav_link:active {
  color: red !important;
} */
.nav_link {
  color: black;
}
.nav_link:hover {
  color: red;
}
.nav_link {
  position: relative;
  transition: all ease-in-out 350ms;
}
.nav_link::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 4px;
  background: white;
  bottom: -10px;
  z-index: 1;
  left: 50%;
  transition: all 200ms linear;
  transform: translatex(-50%);
  border-radius: 16px;
}
.nav_link:before {
  content: "";
  position: absolute;
  left: -12px;
  top: -30px;
  background: var(--color-Safety-Orange);
  border-radius: 20px;
  z-index: -1;
  transition: all 200ms linear;
}
.nav_link:hover::before {
  width: 110%;
  padding: 50px 55px;
}

.nav_link:hover::after {
  width: 60%;
}
.nav_link:hover {
  color: white;
}
/* ================ */

.star {
  animation: rotate 5s infinite linear;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.explore_btn {
  padding: 7px 55px;
  background: var(--color-Safety-Orange);
  border-radius: 25px 0px;
  transition: all linear 300ms;
}
/* .explore_btn:hover {
  border-radius: 0px 25px;
} */
.lh_35 {
  line-height: 35.22px;
}
.lh_17 {
  line-height: 17.61px;
}
.mt_100 {
  margin-top: -100px;
}
::-webkit-scrollbar {
  background-color: var(--color-Ghost-White);
  /* background-color: black; */
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-Safety-Orange);
}
.bg_orangee {
  background: var(--color-Safety-Orange);
}
.explore_btn {
  animation: change 4s infinite linear;
}
@keyframes change {
  0% {
    border-radius: 25px 0px;
  }
  50% {
    border-radius: 0px 25px;
  }
}
