* {
  margin: 0;
  padding: 0;
  list-style-type: none !important;
  text-decoration: none !important;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.bg_orange {
  background-color: rgba(251, 102, 2, 0.15);
}
.btn-orange {
  padding: 6px 64px;
  background-color: var(--color-Safety-Orange);
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  font-size: 24px;
  font-family: "Raleway";
  display: inline-block;
  border-radius: 25px 0px;
  transition: all linear 300ms;
}
.btn-orange:hover {
  border-radius: 0px 25px;
}
.btn-orange:hover {
  color: white;
}
input {
  width: 100%;
  padding: 12px 14px;
  border: 1px solid rgba(251, 102, 2, 1);
  border-radius: 20px;
}
.btn_box {
  padding: 16px 14px 16px 25px;
  background-color: rgba(251, 102, 2, 1);
  border-radius: 20px;
  border: none;
  color: white;
  margin-top: 24px;
}
.box_white {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 72px 50px 34px;
  border-radius: 35px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  height: 100%;
}
.box_white:hover {
  background: #ffffff;
  box-shadow: 6px 6px 10px 10px #8b8b8b8c;
  border-radius: 35px;
}
.col_svg path {
  transition: all 0.4s ease-in-out;
}
.box_white:hover .col_svg path {
  fill: rgb(0, 81, 255);
}
.orange_border_box {
  padding: 10px;
  width: 100%;
  transform: translateY(0%);
  margin: 0 auto;
  background: #ffffff;
  border: 1px solid #fb6602;
  border-radius: 25px;
  transition: all 1s ease-in-out;
}
.bg_orange1 {
  background-color: rgba(251, 102, 2, 1);
}
.bg_orange1 ul li a:hover {
  color: whitesmoke;
}
.w_small_75 {
  width: 75%;
}
.radius {
  border-radius: 90px 0px !important;
  width: 75%;
  margin: 0 auto;
}
@media (min-width: 992px) {
  .radius {
    border-radius: 34px 0px !important;
    width: 100%;
  }
  .w_lg_100 {
    width: 100%;
  }
  .orange_border_box {
    padding: 40px 50px;
  }
  input {
    width: 80%;
    padding: 16px 50px;
    border-radius: 20px 0px 0px 20px;
  }
  .btn_box {
    border-radius: 0px 20px 20px 0px;
  }
}
@media (min-width: 1200px) {
  .orange_border_box {
    width: 70%;
    transform: translateY(24%);
  }
}
